<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mangement_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>

            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">المختار</a>
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">


                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="UserApp" asp-action="Index">المستخدمين <span class="sr-only">(current)</span></a>
                                </li>
                            }
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Donation" asp-action="Index">التبرعات <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Export" asp-action="Index">الصادارات <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="payment" asp-action="Index">الاشتراكات <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Employee" asp-action="Index">الموظفين <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Group" asp-action="Index">المجموعات <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="WaitingStudent" asp-action="Index">قوائم الأنتظار <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">الصفحة الرئيسية <span class="sr-only">(current)</span></a>
                            </li>

                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
    }
    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
