@model Mangement_System.ViewModels.Group.GroupViewModel

@{
    ViewData["Title"] = "Create";
}
<section class="any-form">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-5">إضافه مجموعة</h3>
                    <form asp-action="Create">
                        <div class="form-group">
                            <input asp-for="GroupName" class="form-control" placeholder="اسم المجموعة" />
                            <small asp-validation-for="GroupName" class="text-danger form-text text-right"></small>
                        </div>
                        <div class="form-group">
                            <select asp-for="EmployeeId" class="form-control">
                                <option value="">اختر المحفظ</option>
                                @foreach (var item in Model.emplyee)
                                {
                                    <option value="@item.EmployeeId">@item.Name</option>
                                }
                            </select>
                            <small asp-validation-for="EmployeeId" class="text-danger form-text text-right"></small>

                        </div>
                        <div class="form-group my-4">
                            <button type="submit" class="btn btn-primary form-control">إضافة</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
