@model Mangement_System.Data.Models.Group

@{
    ViewData["Title"] = "Delete";
}

<


<p class="DeletedMessage">هل متاكد من حذف هذا المجموعة ؟</p>
<table class="table-responsive" id="Table">
    <tr>
        <th scope="row">اسم المجموعة :</th>
        <td>@Model.GroupName</td>
    </tr>
    <tr>
        <th scope="row">المحفظ :</th>
        <td>@Model.employee.Name</td>
    </tr>

</table>



<form asp-action="Delete">
    <input type="hidden" asp-for="groupId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
