@model Mangement_System.Data.Models.PayStudent

@{
    ViewData["Title"] = "EditPayStudent";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPayStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">الاسم</label>
                <input readonly asp-for="student.StudentName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">المبلغ</label>
                <input asp-for="TotalPay" class="form-control" />
                <span asp-validation-for="TotalPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">التاريخ</label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PayStudentId" />
            <input type="hidden" asp-for="StudentId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
