@model Mangement_System.ViewModels.Group.PayStudentViewModel

@{
    ViewData["Title"] = "paystudent";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="paystudent">
            <input hidden asp-for="groupId" value="@Model.groupId"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">اسم الطالب</label>
                <select asp-for="StudentId" class="form-control input-lg">
                    <option></option>
                    @foreach (var item in Model.students)
                    {
                        <option value="@item.studentId">@item.StudentName</option>
                    }
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">المبلغ</label>
                <input asp-for="TotalPay" class="form-control" value="" />
                <span asp-validation-for="TotalPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="أضف" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
