@model Mangement_System.Data.Models.Money

@{
    ViewData["Title"] = "Delete";
}



<p class="DeletedMessage">هل متاكد من حذف هذا الطالب ؟</p>
<table class="table-responsive" id="Table">
    <tr>
        <th scope="row">الاسم :</th>
        <td>@Model.MoneyName</td>
    </tr>
    <tr>
        <th scope="row">المبلغ :</th>
        <td>@Model.TotalMoney</td>
    </tr>
    <tr>
        <th scope="row">تاريخ الميلاد :</th>
        <td>@Model.DateOfMoney.ToString("yyyy/MM/dd")</td>
    </tr>
</table>


<form asp-action="Delete">
    <input type="hidden" name="MoneyId" value="@Model.MoneyId" />
    <input type="submit" value="حذف" class="btn btn-danger" />
</form>


