@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown">
    <div id="formContent">
        
        <!-- Login Form -->
        <form class="login" id="account" method="post">
            <input type="text" id="login" class="fadeIn second" asp-for="Input.UserName" placeholder="الاسم">
            <input type="password" id="password" class="fadeIn third" asp-for="Input.PassWord" placeholder="الرقم السرى">
            
            <input type="submit" class="fadeIn fourth" value="تسجيل الدخول">
        </form>


    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
