@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center regM">
    <div class="col-md-6">
        <h1 class="text-center">إنشاء حساب</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <input asp-for="Input.FirstName" class="form-control form-control-lg" id="colFormLabelLg" placeholder="الاسم الأول">
            </div>
            <div class="form-group row">
                <input asp-for="Input.LastName" class="form-control form-control-lg" id="colFormLabelLg" placeholder="الأسم الأخير">
            </div>
            <div class="form-group row">
                <input asp-for="Input.UserName" class="form-control form-control-lg" id="colFormLabelLg" placeholder="أسم المستخدم">
            </div>
            <div class="form-group row">
                <input asp-for="Input.Password" class="form-control form-control-lg" id="colFormLabelLg" placeholder="الرقم السرى">
            </div>
            <div class="form-group row">
                <select asp-for="Input.userRole" class="form-control">
                    <option value="">اختر المسؤلية</option>
                    <option value="Admin">مسئول عام</option>
                    <option value="secretary">سكرتير</option>
                    <option value="OnlyStudent">مسئول الطلاب</option>
                </select>
            </div>
            <div class="form-group row">
                <input type="submit" value="إضافة" class="form-control form-control-lg btn btn-primary" id="colFormLabelLg">
            </div>

        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
